.footer {
  background-image: url("/public/assets/footerbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #475467;
  text-align: center;
  padding: 3rem 8rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 8rem;

  color: #fff;
  border-radius: 1rem;
  background: var(--green-green-5, #045334);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
}

.container p {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.container p span {
  display: inline;
  color: #fff;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
}

.emailInput {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.subscribeButton {
  padding: 0.7rem 1rem;
  width: fit-content;
  cursor: pointer;
  color: #fcfcfd;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #08a669;
  background: #08a669;
}

.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #045334;
  padding: 1.5rem 3rem;
  color: #fff;
}
.bottomFooter p {
  font-weight: 700;
  font-size: 1.6rem;
}
.bottomFooter p span {
  font-weight: 300;
  font-size: 1rem;
}

.socialIcons {
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 768px) {
  .footer {
    padding: 1rem;
  }
  .container {
    width: 100%;
    padding: 2rem;
  }
  .container p {
    font-size: 1.3rem;
  }
  .container p span {
    font-size: 1.3rem;
  }
  .bottomFooter {
    padding: 1.5rem 1.5rem;
  }
}
