.banner{
    background-color: #045334;
    background-image: url(../Images//Mask\ group.png);
    background-repeat: no-repeat;
    height: 170px;
    margin: 30px 0 0 0;
}

.banner > h1{
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 50px;
    text-align: center;
}

.banner > p{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin: 9px 0 0 0;
    text-align: center;
}

.b-span{
    display: inline;
}

@media (max-width: 767px) {
    .banner{
        height: 200px;
    }

    .banner > h1{
        padding: 20px 0 0 0;
    }

    .banner > p{
        margin: 25px 0 0 0;
    }

    .b-span{
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .banner > p{
        font-size: 17px;
    }    
}